## Travel Assistant

This tool is designed to help users plan their travel by combining information from various sources such as flight schedules and hotel availability. 

#### Features:
- **Find Flights and Hotels**: Query flights departing from Modlin Airport and filter hotel options from TUI.
- **Customizable Filters**: Specify preferences such as maximum hotel price per day, duration of stay, and minimum hotel standards.

#### How to Use:
1. **Define Parameters**: Update the notebook cells with parameters such as price, duration, and hotel standard.
2. **Run the Queries**: Execute the notebook cells to fetch flight and hotel options based on your preferences.
3. **View Results**: Examine the results presented in tabular format or export them for further analysis.

Happy travels!

In [10]:
# import dependencies
from utils import (
    get_flights,
    get_hotels,
    get_flights_with_hotels,
    get_flights_with_hotels_params,
    get_attractions_for_city,
    get_attractions_for_flights,
)

## Flights

Get a list of flights departuring from Modlin Airport in next 24 hours.

In [4]:
get_flights()

  flightId       destText depTimeText                        stateText
0  FR 7025  RZYM CIAMPINO       22:50  WYLĄDOWAŁ 22:51 WYLĄDOWAŁ 22:51
1  FR 1925         DUBLIN       10:05                             None
2  FR 1062         MADRYT       14:20                             None
3  FR 2264        LIZBONA       15:00                             None

## Attraction for given city

Get a list of attractions for chosen city.

In [7]:
# user's input
city = "Barcelona"

In [8]:
get_attractions_for_city(city=city)

,cityName,attractionName,attractionTags,attractionDescription
0,Barcelona,1973 Torneo Godó,"societal event, tournament, event, sports even...",The 1973 Torneo Godó or Trofeo Conde de Godó w...
1,Barcelona,1972 Torneo Godó,"societal event, tournament, event, sports even...",The 1972 Torneo Godó or Trofeo Conde de Godó w...
2,Barcelona,Barcelona Universitari Club,"agent, sports club, sports team, organisation,...",Barcelona Universitari Club is a Spanish rugby...
3,Barcelona,Torre La Sagrera,"architectural structure, building",Torre La Sagrera also Sagrera Tower also Torre...
4,Barcelona,Casa Batlló,"architectural structure, building",Casa Batlló (Catalan pronunciation: [ˈkazə βəˈ...
...,...,...,...,...
292,Barcelona,2019 Barcelona Open Banco Sabadell,"societal event, tournament, event, sports even...",The 2019 Barcelona Open Banc Sabadell (also kn...
293,Barcelona,Torre Werfen,"architectural structure, building","Torre Werfen (""Werfen Tower"") (also named Torr..."
294,Barcelona,1951 Spanish Grand Prix,"societal event, event, Grand Prix, sports event",The 1951 Spanish Grand Prix was a Formula One ...
295,Barcelona,Barcelona Enginyers Rugby,"agent, sports club, sports team, organisation,...",Barcelona Enginyers Rugby is a Spanish rugby t...
296,Barcelona,Negres Tempestes (organization),"agent, organisation",Negres Tempestes (English: Black Storms) is an...

## Attractions for available destinations

Get a list of attractions for all available destinations from Modlin Airport.

In [9]:
get_attractions_for_flights()

Rzym
Dublin
Madryt
Lizbona

,cityName,attractionName,attractionTags,attractionDescription
0,Rzym,ISCOS,"agent, organisation",The Istituto Sindacale per la Cooperazione all...
1,Rzym,Galleria Nazionale d'Arte Moderna,"architectural structure, building, museum",The Galleria Nazionale d'Arte Moderna e Contem...
2,Rzym,1999 Italian Open (tennis),"societal event, tournament, event, sports even...",The 1999 Italian Open was a tennis tournament ...
3,Rzym,CSOA Forte Prenestino,"architectural structure, building, venue",CSOA Forte Prenestino is a large self-managed ...
4,Rzym,Immacolata Concezione di Maria a Grottarossa,"architectural structure, building, historic bu...",The church of Santa Maria Immacolata in Grotta...
...,...,...,...,...
221,Lizbona,Fort of Ameixoeira,"architectural structure, military structure","The Fort of Ameixoeira, also known as the King..."
222,Lizbona,Banco Privado Português,"company, agent, bank, organisation",Banco Privado Português (BPP) was a private Po...
223,Lizbona,Senate (Portugal),"agent, legislature, organisation",The Senate (Portuguese: Senado) was the upper ...
224,Lizbona,Blue Line (Lisbon Metro),"infrastructure, route of transportation, archi...",The Blue Line (Portuguese: Linha Azul) or Seag...
225,Lizbona,Gulbenkian Park,"place, park",The Gulbenkian Park also known as Gulbenkian G...

## Hotels

????

In [4]:
get_hotels()

           city                         name price duration standard
0     Impruneta            Relais Villa Olmo  2734        6      4.0
1        Trogir          Aparthotel Bellevue  2533        6      3.0
2     Barcelona  Continental Barcelona Hotel  2609        6      3.0
3    Feldthurns    Vinumhotel Feldthurnerhof  2625        6      3.5
4         Heviz        Health Spa Hotel Aqua  2997        6      4.0
..          ...                          ...   ...      ...      ...
673   Folgarida             Hotel Caminetto   2652        6      4.0
674   Budapeszt       Mystery Hotel Budapest  2992        6      5.0
675     Zamardi             Hotel Wellamarin  2404        6      4.0
676     Bibione              Locanda Al Leon  2079        6      2.0
677   Barcelona         H10 Urquinaona Plaza  5787        6      4.0

[678 rows x 5 columns]

## Flights with hotels

Get a list of available combinations of flights and hotels with listed price, and hotel standard.

In [5]:
get_flights_with_hotels()

,destinationCity,flightDepartureTime,hotelName,hotelPrice,stayDuration,hotelStandard
0,Madryt,06:05,Catalonia Puerta del Sol,2219,6,4.0
1,Madryt,06:05,H10 Puerta de Alcalá,3990,6,4.0
2,Madryt,06:05,Riu Plaza Espana,2546,6,4.0
3,Madryt,06:05,NH Madrid Sur,1789,6,3.0
4,Lizbona,06:00,My Story Hotel Tejo,2123,6,3.0
...,...,...,...,...,...,...
61,Lizbona,06:00,Tryp Oriente,2286,6,4.0
62,Lizbona,06:00,My Story Hotel Ouro,2434,6,3.0
63,Madryt,06:05,Catalonia Gran Via,2219,6,4.0
64,Lizbona,06:00,York House,2180,6,4.0
65,Madryt,06:05,Hispano Argentino Gran Via Hostal,1790,6,3.0

## Flights with hotels - filtered

Filter the above results to meet your criteria.

* `max_price_per_day` is a maximum hotel price per one day of your stay
* `duration` is the duration of your stay in number of days
* `min_standard` is a minimum hotel standard in 1-5 scale

In [6]:
# user's input
max_price_per_day = 420
duration = 6
min_standard = 3.5

In [7]:
get_flights_with_hotels_params(
    max_price_per_day=max_price_per_day, 
    duration=duration, 
    min_standard=min_standard
)

,destinationCity,flightDepartureTime,hotelName,hotelPrice,hotelPricePerDay,stayDuration,hotelStandard
0,Lizbona,06:00,Britania,2104,350,6,4.0
1,Madryt,06:05,Emperador,2106,351,6,4.0
2,Lizbona,06:00,Hotel Tryp Lisboa Aeroporto,2145,357,6,4.0
3,Lizbona,06:00,Tivoli Oriente,2145,357,6,4.0
4,Madryt,06:05,Exe Hotel El Coloso,2149,358,6,4.0
5,Madryt,06:05,NH Madrid Ventas,2152,358,6,4.0
6,Madryt,06:05,NH La Habana,2154,359,6,4.0
7,Madryt,06:05,Partner Barrio de Salamanca Suites,2200,366,6,4.0
8,Madryt,06:05,Petit Palace Savoy Alfonso XII,2208,368,6,4.5
9,Madryt,06:05,Petit Palace Lealtad Plaza,2229,371,6,4.0
10,Madryt,06:05,Catalonia Atocha,2235,372,6,4.0
11,Madryt,06:05,Petit Palace Posada del Peine,2243,373,6,4.0
12,Lizbona,06:00,Doubletree by Hilton Lisboa,2266,377,6,3.5
13,Madryt,06:05,Catalonia Gran Via,2290,381,6,4.0
14,Madryt,06:05,Petit Palace Santa Barbara,2289,381,6,4.0
15,Madryt,06:05,Hotel Serrano by Aa hoteles,2311,385,6,4.0
16,Madryt,06:05,NH Zurbano,2319,386,6,4.0
17,Lizbona,06:00,Hotel do Chiado,2369,394,6,4.0
18,Madryt,06:05,Villa Real,2385,397,6,5.0
19,Madryt,06:05,Catalonia Plaza Mayor,2401,400,6,4.0
20,Madryt,06:05,Mayorazgo,2409,401,6,4.0
21,Lizbona,06:00,Portugal Boutique Hotel,2416,402,6,4.0
22,Madryt,06:05,Rafaelhoteles Atocha,2419,403,6,4.0
23,Madryt,06:05,Hotel NH Collection Madrid Suecia,2432,405,6,5.0
24,Madryt,06:05,NH Collection Palacio de Tepa,2507,417,6,5.0
25,Madryt,06:05,Petit Palace Alcalá,2513,418,6,4.0