In [1]:
from utils import get_flights, get_hotels, get_flights_with_hotels, get_flights_with_hotels_params, get_attractions_for_city, get_attractions_for_flights

In [8]:
get_attractions_for_city("Warszawa")

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX dbr: <http://dbpedia.org/resource/>

SELECT (STR(?cityNamePolish) AS ?cityName) ?attractionName ?attractionNamePolish ?categoryLabel ?desc
WHERE {
    SERVICE <http://dbpedia.org/sparql> {
        ?attraction dbo:location ?location ;
                   rdfs:label ?attractionName ;
                   dbo:abstract ?desc ;
                   rdf:type ?category .
        OPTIONAL {
            ?attraction rdfs:label ?attractionNamePolish .
            FILTER (lang(?attractionNamePolish) = "pl") .
        } .

        ?category rdfs:label ?categoryLabel .
        ?location rdfs:label ?cityNamePolish .
        FILTER (lang(?cityNamePolish) = "pl")
        FILTER (lang(?attractionName) = "en")
        FILTER (lang(?desc) = "en")
        FILTER (lang(?categoryLabel) = "en")
        BIND(STR(?cityNamePolish) AS ?cityNamePolishStr) .
        VALUES ?cityNamePolishStr { "Warszawa" } .
    }
}
LIMIT 1000

,cityName,attractionName,attractionNamePolish,categoryLabel,desc
0,Warszawa,Prosto,Prosto,company,Prosto Sp. z o.o. is one of the largest Polish...
1,Warszawa,Santander Bank Polska,Santander Bank Polska,company,"Santander Bank Polska SA, formerly Bank Zachod..."
2,Warszawa,N (Poland),Telewizja n,company,n [ɛn] was a Polish DTH platform. It was launc...
3,Warszawa,Naukowa i Akademicka Sieć Komputerowa,Naukowa i Akademicka Sieć Komputerowa – Państw...,company,"Naukowa i Akademicka Sieć Komputerowa (""Resear..."
4,Warszawa,Montagu Private Equity,None,company,Montagu is a mid-market private equity firm wi...
...,...,...,...,...,...
116,Warszawa,"Presidential Palace, Warsaw",Pałac Prezydencki w Warszawie,person,The Presidential Palace (Polish: Pałac Prezyde...
117,Warszawa,Ministry of Public Security (Poland),Resort Bezpieczeństwa Publicznego,person,The Ministry of Public Security (Polish: Minis...
118,Warszawa,Ministry of Public Security (Poland),Ministerstwo Bezpieczeństwa Publicznego,person,The Ministry of Public Security (Polish: Minis...
119,Warszawa,Ministry of Public Security (Poland),Służba Bezpieczeństwa (PRL),person,The Ministry of Public Security (Polish: Minis...
120,Warszawa,Złote Tarasy,Złote Tarasy,person,The Złote Tarasy (Golden Terraces) is a commer...

## Flights

In [2]:
flights = get_flights()
flights

  flightId         destText depTimeText                          stateText
0  FR 6122         TENERYFA       18:55    WYLĄDOWAŁ 19:00 WYLĄDOWAŁ 19:00
1  FR 2281  LONDYN STANSTED       21:05  OCZEKIWANY 20:57 OCZEKIWANY 20:57
2  FR 7025    RZYM CIAMPINO       22:50                               None
3  FR 1925           DUBLIN       10:05                               None

In [4]:
get_attractions_for_flights(flights)

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX dbr: <http://dbpedia.org/resource/>

SELECT (STR(?cityNamePolish) AS ?cityName) ?attractionName ?attractionNamePolish ?categoryLabel ?desc
WHERE {
    SERVICE <http://dbpedia.org/sparql> {
        ?attraction dbo:location ?location ;
                   rdfs:label ?attractionName ;
                   dbo:abstract ?desc ;
                   rdf:type ?category .
        OPTIONAL {
            ?attraction rdfs:label ?attractionNamePolish .
            FILTER (lang(?attractionNamePolish) = "pl") .
        } .

        ?category rdfs:label ?categoryLabel .
        ?location rdfs:label ?cityNamePolish .
        FILTER (lang(?cityNamePolish) = "pl")
        FILTER (lang(?attractionName) = "en")
        FILTER (lang(?desc) = "en")
        FILTER (lang(?categoryLabel) = "en")
        BIND(STR(?cityNamePolish) AS ?cityNamePolishStr) .
        VALUES ?cityNamePolishStr { "Londyn" } .
    }
}
LIMIT 1000

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX dbr: <http://dbpedia.org/resource/>

SELECT (STR(?cityNamePolish) AS ?cityName) ?attractionName ?attractionNamePolish ?categoryLabel ?desc
WHERE {
    SERVICE <http://dbpedia.org/sparql> {
        ?attraction dbo:location ?location ;
                   rdfs:label ?attractionName ;
                   dbo:abstract ?desc ;
                   rdf:type ?category .
        OPTIONAL {
            ?attraction rdfs:label ?attractionNamePolish .
            FILTER (lang(?attractionNamePolish) = "pl") .
        } .

        ?category rdfs:label ?categoryLabel .
        ?location rdfs:label ?cityNamePolish .
        FILTER (lang(?cityNamePolish) = "pl")
        FILTER (lang(?attractionName) = "en")
        FILTER (lang(?desc) = "en")
        FILTER (lang(?categoryLabel) = "en")
        BIND(STR(?cityNamePolish) AS ?cityNamePolishStr) .
        VALUES ?cityNamePolishStr { "Rzym" } .
    }
}
LIMIT 1000

PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX dbr: <http://dbpedia.org/resource/>

SELECT (STR(?cityNamePolish) AS ?cityName) ?attractionName ?attractionNamePolish ?categoryLabel ?desc
WHERE {
    SERVICE <http://dbpedia.org/sparql> {
        ?attraction dbo:location ?location ;
                   rdfs:label ?attractionName ;
                   dbo:abstract ?desc ;
                   rdf:type ?category .
        OPTIONAL {
            ?attraction rdfs:label ?attractionNamePolish .
            FILTER (lang(?attractionNamePolish) = "pl") .
        } .

        ?category rdfs:label ?categoryLabel .
        ?location rdfs:label ?cityNamePolish .
        FILTER (lang(?cityNamePolish) = "pl")
        FILTER (lang(?attractionName) = "en")
        FILTER (lang(?desc) = "en")
        FILTER (lang(?categoryLabel) = "en")
        BIND(STR(?cityNamePolish) AS ?cityNamePolishStr) .
        VALUES ?cityNamePolishStr { "Dublin" } .
    }
}
LIMIT 1000

,cityName,attractionName,attractionNamePolish,categoryLabel,desc
0,Londyn,Caffè Nero,Caffè Nero,company,Caffè Nero is an Italian-influenced coffeehous...
1,Londyn,Cad and the Dandy,None,company,Cad and the Dandy is an independent tailoring ...
2,Londyn,Café Rouge,None,company,Café Rouge is a French-styled restaurant chain...
3,Londyn,Cafédirect,None,company,Cafédirect is a UK-based alternative trading o...
4,Londyn,Canada Company,None,company,The Canada Company was a private British land ...
...,...,...,...,...,...
257,Dublin,Mount Pleasant Square,None,place,Mount Pleasant Square is a Georgian garden squ...
258,Dublin,Mountjoy Square,None,place,Mountjoy Square (Irish: Cearnóg Mhuinseo) is a...
259,Dublin,St Stephen's Green,St Stephen’s Green,place,St Stephen's Green (Irish: Faiche Stiabhna) is...
260,Dublin,"Parliament House, Dublin",None,place,Parliament House (Irish: Tithe na Parlaiminte)...
261,Dublin,"Bushy Park, Dublin",None,place,"Bushy Park (Irish: Páirc na dTor) is a large, ..."

In [5]:
res = _

In [6]:
res["cityName"].unique()

array(['Londyn', 'Rzym', 'Dublin'], dtype=object)

## Hotels

In [4]:
get_hotels()

           city                         name price duration standard
0     Impruneta            Relais Villa Olmo  2734        6      4.0
1        Trogir          Aparthotel Bellevue  2533        6      3.0
2     Barcelona  Continental Barcelona Hotel  2609        6      3.0
3    Feldthurns    Vinumhotel Feldthurnerhof  2625        6      3.5
4         Heviz        Health Spa Hotel Aqua  2997        6      4.0
..          ...                          ...   ...      ...      ...
673   Folgarida             Hotel Caminetto   2652        6      4.0
674   Budapeszt       Mystery Hotel Budapest  2992        6      5.0
675     Zamardi             Hotel Wellamarin  2404        6      4.0
676     Bibione              Locanda Al Leon  2079        6      2.0
677   Barcelona         H10 Urquinaona Plaza  5787        6      4.0

[678 rows x 5 columns]

## Flights with hotels

In [5]:
get_flights_with_hotels()

,destinationCity,flightDepartureTime,hotelName,hotelPrice,stayDuration,hotelStandard
0,Madryt,06:05,Catalonia Puerta del Sol,2219,6,4.0
1,Madryt,06:05,H10 Puerta de Alcalá,3990,6,4.0
2,Madryt,06:05,Riu Plaza Espana,2546,6,4.0
3,Madryt,06:05,NH Madrid Sur,1789,6,3.0
4,Lizbona,06:00,My Story Hotel Tejo,2123,6,3.0
...,...,...,...,...,...,...
61,Lizbona,06:00,Tryp Oriente,2286,6,4.0
62,Lizbona,06:00,My Story Hotel Ouro,2434,6,3.0
63,Madryt,06:05,Catalonia Gran Via,2219,6,4.0
64,Lizbona,06:00,York House,2180,6,4.0
65,Madryt,06:05,Hispano Argentino Gran Via Hostal,1790,6,3.0

## Flights with hotels - filtered

In [6]:
# user's input
max_price_per_day = 420
duration = 6
min_standard = 3.5

In [7]:
get_flights_with_hotels_params(
    max_price_per_day=max_price_per_day, 
    duration=duration, 
    min_standard=min_standard
)

,destinationCity,flightDepartureTime,hotelName,hotelPrice,hotelPricePerDay,stayDuration,hotelStandard
0,Lizbona,06:00,Britania,2104,350,6,4.0
1,Madryt,06:05,Emperador,2106,351,6,4.0
2,Lizbona,06:00,Hotel Tryp Lisboa Aeroporto,2145,357,6,4.0
3,Lizbona,06:00,Tivoli Oriente,2145,357,6,4.0
4,Madryt,06:05,Exe Hotel El Coloso,2149,358,6,4.0
5,Madryt,06:05,NH Madrid Ventas,2152,358,6,4.0
6,Madryt,06:05,NH La Habana,2154,359,6,4.0
7,Madryt,06:05,Partner Barrio de Salamanca Suites,2200,366,6,4.0
8,Madryt,06:05,Petit Palace Savoy Alfonso XII,2208,368,6,4.5
9,Madryt,06:05,Petit Palace Lealtad Plaza,2229,371,6,4.0
10,Madryt,06:05,Catalonia Atocha,2235,372,6,4.0
11,Madryt,06:05,Petit Palace Posada del Peine,2243,373,6,4.0
12,Lizbona,06:00,Doubletree by Hilton Lisboa,2266,377,6,3.5
13,Madryt,06:05,Catalonia Gran Via,2290,381,6,4.0
14,Madryt,06:05,Petit Palace Santa Barbara,2289,381,6,4.0
15,Madryt,06:05,Hotel Serrano by Aa hoteles,2311,385,6,4.0
16,Madryt,06:05,NH Zurbano,2319,386,6,4.0
17,Lizbona,06:00,Hotel do Chiado,2369,394,6,4.0
18,Madryt,06:05,Villa Real,2385,397,6,5.0
19,Madryt,06:05,Catalonia Plaza Mayor,2401,400,6,4.0
20,Madryt,06:05,Mayorazgo,2409,401,6,4.0
21,Lizbona,06:00,Portugal Boutique Hotel,2416,402,6,4.0
22,Madryt,06:05,Rafaelhoteles Atocha,2419,403,6,4.0
23,Madryt,06:05,Hotel NH Collection Madrid Suecia,2432,405,6,5.0
24,Madryt,06:05,NH Collection Palacio de Tepa,2507,417,6,5.0
25,Madryt,06:05,Petit Palace Alcalá,2513,418,6,4.0