In [1]:
from utils import get_flights, get_hotels, get_flights_with_hotels, get_flights_with_hotels_params, get_attractions_for_city, get_attractions_for_flights

In [ ]:
get_attractions_for_city("Warszawa")

,cityName,attractionName,attractionTags,attractionDescription
0,Warszawa,Totolotek,company,Totolotek is a betting company based in Warsaw...
1,Warszawa,N (Poland),company,n [ɛn] was a Polish DTH platform. It was launc...
2,Warszawa,HSBC Bank Polska,company,"HSBC Bank Polska S.A. offers Consumer finance,..."
3,Warszawa,Montagu Private Equity,company,Montagu is a mid-market private equity firm wi...
4,Warszawa,11 Bit Studios,company,11 bit studios S.A. is a game development comp...
5,Warszawa,Tate Multimedia,company,Tate Multimedia S.A. is a Polish video game pu...
6,Warszawa,Canal+ (Polish TV provider),company,Canal+ (formerly Cyfra+ [ˌt͡sɨfra ˈplus] (Cana...
7,Warszawa,Prosto,company,Prosto Sp. z o.o. is one of the largest Polish...
8,Warszawa,Santander Bank Polska,company,"Santander Bank Polska SA, formerly Bank Zachod..."
9,Warszawa,Waneko,company,"Waneko is a Polish manga publisher, located in..."
10,Warszawa,Bus transport in Warsaw,company,Bus transport in Warsaw was introduced in 1920...
11,Warszawa,PSPaudioware,company,PSPaudioware.com s.c. (Professional Sound Proj...
12,Warszawa,Asfalt Records,company,Asfalt Records is a Polish independent record ...
13,Warszawa,Naukowa i Akademicka Sieć Komputerowa,company,"Naukowa i Akademicka Sieć Komputerowa (""Resear..."
14,Warszawa,CDP.pl,company,CDP.pl Sp. z o.o. is a Polish publisher and vi...
15,Warszawa,Masovian Railways,company,"Masovian Railways, in Polish Koleje Mazowiecki..."
16,Warszawa,Master Film (Poland),company,Master Film is a Polish dubbing studio based i...
17,Warszawa,Ministry of Public Security (Poland),person,The Ministry of Public Security (Polish: Minis...
18,Warszawa,Veturilo,company,Veturilo is a public bicycle sharing system in...
19,Warszawa,"Presidential Palace, Warsaw",person,The Presidential Palace (Polish: Pałac Prezyde...
20,Warszawa,Ericpol,company,Ericpol (formerly Ericpol Telecom) is a Polish...
21,Warszawa,Penta Investments,company,Penta is a Central Europe investment group fou...
22,Warszawa,Smyk Department Store,company,The Smyk Department Store was a department sto...
23,Warszawa,Polish Press Agency,company,The Polish Press Agency (Polish: Polska Agencj...
24,Warszawa,PKP Informatyka,company,PKP Informatyka is a company of PKP Group resp...
25,Warszawa,Start International Polska,company,Start International Polska is a Polish dubbing...
26,Warszawa,SBM Label,company,SBM Label is a Polish hip-hop label based in W...
27,Warszawa,Warner Music Poland,company,"Warner Music Poland Sp. z o.o., is a Polish su..."
28,Warszawa,Bank Gospodarstwa Krajowego,company,Bank Gospodarstwa Krajowego (BGK) is a Polish ...
29,Warszawa,PAST (Poland),company,"PAST (Polska Akcyjna Spółka Telefoniczna, Poli..."
30,Warszawa,PKP Energetyka,company,PKP Energetyka S.A. is the cross-country elect...
31,Warszawa,TVN Group,company,TVN Group (TVN S.A.) is a Polish media and ent...
32,Warszawa,Polskie Nagrania Muza,company,"Polskie Nagrania ""Muza"" (""Polish Records 'Muse..."
33,Warszawa,Cinema City Poland,company,Cinema City is a brand of multiplex cinemas in...
34,Warszawa,TK Telekom,company,TK Telekom ex Telekomunikacja Kolejowa is a Po...
35,Warszawa,Kayax,company,Kayax Production & Publishing Sp. z o.o. is an...
36,Warszawa,Zespół Filmowy „X”,company,Zespół Filmowy „X” is a Polish film production...
37,Warszawa,Plus (telecommunications Poland),company,Plus (formerly Plus GSM) is the brand name of ...
38,Warszawa,PKP Polskie Linie Kolejowe,company,PKP Polskie Linie Kolejowe S.A. is the Polish ...
39,Warszawa,Polregio,company,Polregio (formerly Przewozy Regionalne) is a t...
40,Warszawa,Tęcza (Warsaw),company,"Tęcza (pronounced [ˈtɛntʂa], meaning ""rainbow""..."
41,Warszawa,Polish State Railways,company,Polskie Koleje Państwowe S.A. (PKP S.A.; Engli...
42,Warszawa,Codeminion,company,Codeminion is a Polish video game developer ba...
43,Warszawa,Złote Tarasy,person,The Złote Tarasy (Golden Terraces) is a commer...
44,Warszawa,PKP Cargo,company,PKP Cargo (WSE: PKP) is a logistics operator a...
45,Warszawa,PKP Intercity,company,PKP Intercity is a company of PKP Group respon...
46,Warszawa,Studio Sonica,company,Studio Sonica is a Polish dubbing studio that ...
47,Warszawa,Polcast Television,"company, person",Polcast Television is a TV broadcaster of four...
48,Warszawa,Trams in Warsaw,company,The Warsaw tram network is a 150-kilometre (93...
49,Warszawa,Discovery Networks CEEMEA,company,Discovery Networks CEEMEA (Discovery Networks ...
50,Warszawa,Szybka Kolej Miejska (Warsaw),company,"Szybka Kolej Miejska (SKM), approximate Englis..."
51,Warszawa,Transport in Warsaw,company,Warsaw has seen major infrastructural changes ...
52,Warszawa,Warsaw Commuter Railway,company,Warsaw Commuter Railway (Polish: Warszawska Ko...
53,Warszawa,Multikino,company,Multikino is the second largest multiplex chai...
54,Warszawa,Mamaison,company,Mamaison Hotels & Residences is a collection o...
55,Warszawa,Warsaw Metro,company,The Warsaw Metro (Polish: Metro Warszawskie) i...

## Flights

In [3]:
get_flights()

  flightId       destText depTimeText                        stateText
0  FR 7025  RZYM CIAMPINO       22:50  WYLĄDOWAŁ 22:51 WYLĄDOWAŁ 22:51
1  FR 1925         DUBLIN       10:05                             None
2  FR 1062         MADRYT       14:20                             None
3  FR 2264        LIZBONA       15:00                             None

In [ ]:
get_attractions_for_flights()

In [5]:
att

,cityName,attractionName,attractionTags,attractionDescription
0,Rzym,RAI,company,RAI – Radiotelevisione italiana (Italian pronu...
1,Rzym,Tor di Valle Racecourse,person,Hippodrome of Tor di Valle (Italian: Ippodromo...
2,Rzym,Villa Lituania,place,"Villa Lituania is a villa in Rome, Italy, at V..."
3,Rzym,CAM Jazz,company,CAM Jazz is an Italian jazz record label found...
4,Rzym,Banca Finnat,company,Banca Finnat is a company that provides invest...
...,...,...,...,...
41,Lizbona,Novobanco,company,novobanco is a Portuguese bank introduced on 4...
42,Lizbona,Vodafone Portugal,company,"Vodafone Portugal – Comunicações Pessoais, S.A..."
43,Lizbona,Portaro,company,PORTARO was the name of a Portuguese 4WD off-r...
44,Lizbona,Skysoft,company,Skysoft was a Portuguese systems and software ...
45,Lizbona,Cave of Pedra Furada,place,The Cave of Pedra Furada is a small cave locat...

## Hotels

In [4]:
get_hotels()

           city                         name price duration standard
0     Impruneta            Relais Villa Olmo  2734        6      4.0
1        Trogir          Aparthotel Bellevue  2533        6      3.0
2     Barcelona  Continental Barcelona Hotel  2609        6      3.0
3    Feldthurns    Vinumhotel Feldthurnerhof  2625        6      3.5
4         Heviz        Health Spa Hotel Aqua  2997        6      4.0
..          ...                          ...   ...      ...      ...
673   Folgarida             Hotel Caminetto   2652        6      4.0
674   Budapeszt       Mystery Hotel Budapest  2992        6      5.0
675     Zamardi             Hotel Wellamarin  2404        6      4.0
676     Bibione              Locanda Al Leon  2079        6      2.0
677   Barcelona         H10 Urquinaona Plaza  5787        6      4.0

[678 rows x 5 columns]

## Flights with hotels

In [5]:
get_flights_with_hotels()

,destinationCity,flightDepartureTime,hotelName,hotelPrice,stayDuration,hotelStandard
0,Madryt,06:05,Catalonia Puerta del Sol,2219,6,4.0
1,Madryt,06:05,H10 Puerta de Alcalá,3990,6,4.0
2,Madryt,06:05,Riu Plaza Espana,2546,6,4.0
3,Madryt,06:05,NH Madrid Sur,1789,6,3.0
4,Lizbona,06:00,My Story Hotel Tejo,2123,6,3.0
...,...,...,...,...,...,...
61,Lizbona,06:00,Tryp Oriente,2286,6,4.0
62,Lizbona,06:00,My Story Hotel Ouro,2434,6,3.0
63,Madryt,06:05,Catalonia Gran Via,2219,6,4.0
64,Lizbona,06:00,York House,2180,6,4.0
65,Madryt,06:05,Hispano Argentino Gran Via Hostal,1790,6,3.0

## Flights with hotels - filtered

In [6]:
# user's input
max_price_per_day = 420
duration = 6
min_standard = 3.5

In [7]:
get_flights_with_hotels_params(
    max_price_per_day=max_price_per_day, 
    duration=duration, 
    min_standard=min_standard
)

,destinationCity,flightDepartureTime,hotelName,hotelPrice,hotelPricePerDay,stayDuration,hotelStandard
0,Lizbona,06:00,Britania,2104,350,6,4.0
1,Madryt,06:05,Emperador,2106,351,6,4.0
2,Lizbona,06:00,Hotel Tryp Lisboa Aeroporto,2145,357,6,4.0
3,Lizbona,06:00,Tivoli Oriente,2145,357,6,4.0
4,Madryt,06:05,Exe Hotel El Coloso,2149,358,6,4.0
5,Madryt,06:05,NH Madrid Ventas,2152,358,6,4.0
6,Madryt,06:05,NH La Habana,2154,359,6,4.0
7,Madryt,06:05,Partner Barrio de Salamanca Suites,2200,366,6,4.0
8,Madryt,06:05,Petit Palace Savoy Alfonso XII,2208,368,6,4.5
9,Madryt,06:05,Petit Palace Lealtad Plaza,2229,371,6,4.0
10,Madryt,06:05,Catalonia Atocha,2235,372,6,4.0
11,Madryt,06:05,Petit Palace Posada del Peine,2243,373,6,4.0
12,Lizbona,06:00,Doubletree by Hilton Lisboa,2266,377,6,3.5
13,Madryt,06:05,Catalonia Gran Via,2290,381,6,4.0
14,Madryt,06:05,Petit Palace Santa Barbara,2289,381,6,4.0
15,Madryt,06:05,Hotel Serrano by Aa hoteles,2311,385,6,4.0
16,Madryt,06:05,NH Zurbano,2319,386,6,4.0
17,Lizbona,06:00,Hotel do Chiado,2369,394,6,4.0
18,Madryt,06:05,Villa Real,2385,397,6,5.0
19,Madryt,06:05,Catalonia Plaza Mayor,2401,400,6,4.0
20,Madryt,06:05,Mayorazgo,2409,401,6,4.0
21,Lizbona,06:00,Portugal Boutique Hotel,2416,402,6,4.0
22,Madryt,06:05,Rafaelhoteles Atocha,2419,403,6,4.0
23,Madryt,06:05,Hotel NH Collection Madrid Suecia,2432,405,6,5.0
24,Madryt,06:05,NH Collection Palacio de Tepa,2507,417,6,5.0
25,Madryt,06:05,Petit Palace Alcalá,2513,418,6,4.0