In [8]:
import pysparql_anything as sa

engine = sa.SparqlAnything()

query_file = "queries/flights_to_rdf.rq"
json_file = "flights_sample.json"

rdf_output = engine.run(
    query=query_file,
    values={"location": json_file},
    output="flights_kg.ttl",
    format="ttl"
)

In [9]:
import pandas as pd

query_file = "queries/test_query.rq"
dataset_file = "flights_kg.ttl"

df = engine.select(
    query=query_file,
    l=dataset_file,
    output_type=pd.DataFrame
)

df

[main] INFO io.github.sparqlanything.cli.SPARQLAnything - Loading data from: flights_kg.ttl
[main] INFO io.github.sparqlanything.cli.SPARQLAnything - Load file: flights_kg.ttl

,FlightNumber,DepartureIATA,ArrivalIATA,DepartureTimeUTC,ArrivalTimeUTC,OperatingDays
0,789,SFO,FRA,07:00,23:00,"wed, sat"
1,123,JFK,LHR,15:30,01:30,"tue, thu, sun"
2,456,ATL,AMS,19:00,09:00,"mon, fri"