In [31]:
from utils import get_flights, get_hotels, get_flights_with_hotels, get_flights_with_hotels_params

## Flights

In [32]:
get_flights()

  flightId        destText depTimeText stateText
0  FR 1889  PARYŻ BEAUVAIS       10:50      None
1  FR 9317        HELSINKI       11:15      None
2  FR 3865   RZYM CIAMPINO       16:45      None

## Hotels

In [33]:
get_hotels()

          city                      name price duration standard
0     Valletta               The Vincent  2725        6      4.0
1       Trogir       Aparthotel Bellevue  2533        6      3.0
2     Valletta     Grand Hotel Excelsior  2606        6      5.0
3      Wenecja                  Principe  2622        6      4.0
4    Budapeszt    Mystery Hotel Budapest  2992        6      5.0
..         ...                       ...   ...      ...      ...
673    Wenecja          Ai Mori Doriente  2651        6      4.0
674  Budapeszt              Opera Garden  2983        6      4.0
675    Milocer  Maestral Resort & Casino  2407        6      4.0
676   Valletta            Hotel Castille  2081        6      3.0
677  Barcelona      H10 Urquinaona Plaza  5787        6      4.0

[678 rows x 5 columns]

## Flights with hotels

In [34]:
get_flights_with_hotels()

,destinationCity,flightDepartureTime,hotelName,hotelPrice,stayDuration,hotelStandard
0,Rzym,11:40,BB Ventisei Scalini A Trastevere,1976,6,2.0
1,Rzym,17:45,BB Ventisei Scalini A Trastevere,1976,6,2.0
2,Rzym,11:40,Mecenate Palace,1827,6,4.0
3,Rzym,17:45,Mecenate Palace,1827,6,4.0
4,Paryż,05:45,Best Western Ronceray Opera,1998,6,3.0
...,...,...,...,...,...,...
83,Rzym,17:45,Hotel H10 Roma Citta,2047,6,4.0
84,Rzym,11:40,Hotel Quattro Fontane,1982,6,3.5
85,Rzym,17:45,Hotel Quattro Fontane,1982,6,3.5
86,Rzym,11:40,Comfort Hotel Bolivar,4181,6,4.0
87,Rzym,17:45,Comfort Hotel Bolivar,4181,6,4.0

## Flights with hotels - filtered

In [35]:
# user's input
max_price_per_day = 420
duration = 6
min_standard = 3.5

In [36]:
get_flights_with_hotels_params(
    max_price_per_day=max_price_per_day, 
    duration=duration, 
    min_standard=min_standard
)

,destinationCity,flightDepartureTime,hotelName,hotelPrice,hotelPricePerDay,stayDuration,hotelStandard
0,Londyn,15:50,Grand Plaza Serviced Apartments,2265,377,6,4.0
1,Rzym,11:40,UNAHotels Decò Roma,2291,381,6,4.0
2,Rzym,17:45,UNAHotels Decò Roma,2291,381,6,4.0
3,Londyn,15:50,Hampton By Hilton London Park Royal,2296,382,6,4.0
4,Rzym,11:40,Comfort Hotel Bolivar,2379,396,6,4.0
5,Rzym,17:45,Comfort Hotel Bolivar,2379,396,6,4.0
6,Rzym,11:40,Diana Roof Garden,2466,411,6,4.0
7,Rzym,17:45,Diana Roof Garden,2466,411,6,4.0
8,Rzym,11:40,Colonna Palace,2497,416,6,4.0
9,Rzym,17:45,Colonna Palace,2497,416,6,4.0